.chatform {
  position: fixed;
  z-index: 10000000;
  bottom: 0;
  width: 25vw;
  margin: 0 auto;
  right: 10vw;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
