<!--The content below is only a placeholder and can be replaced.-->
<div class="chatform" [ngStyle]="(expanded) ? {'height':'510px'} : {'height':'35px'}">
  <span (click)="expanded=!expanded" class="toggle-btn">
    <img class="toggle-btn-logo" src="assets/images/togglebtnlogo.gif" />
    <i class="fa fa-arrow-up toggle-icon" aria-hidden="true" [ngStyle]="(expanded) ? {'transform':'rotateX(3.142rad)'} : {'transform':'rotate(0)'}"></i>
    <b>
      <span class="prompt-text">Ask me about the show!</span>
    </b>
  </span>
  <app-message-list [messages]="messages"></app-message-list>
  <app-message-form [message]="message" [messages]="messages"></app-message-form>
</div>
